* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

html,
body {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 28px 35px;
	text-transform: uppercase;
	font-size: 24px;
	border: 0;
	outline: 0;
	cursor: pointer;
	background: coral;
	color: #fff;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:active {
	box-shadow: 0 5px #333;
	transform: translateY(4px);
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
}
